.intro-section {
    height: calc(100vh - 80px);
    display: flex;
    position: relative;

}

.intro-section__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.intro-section__left h3 {
    padding-left: 15px;
    margin: 0;
    font-size: 48px;
    line-height: 1.23;
}

.intro-section_text {
    padding-left: 15px;
    font-size: 18px;
    line-height: 1.55;

}

.intro-section__right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    width: 60%;
    overflow: hidden;
    transform: skew(-30deg, 0);
    transform-origin: bottom left;
}



.intro-section__right_img {
    background-image: url('/telka_s_fotikom.jpg');    
    background-size: cover;
    position: absolute;
    top: 0;
    right: -30vw;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform: skew(30deg, 0);
    transform-origin: bottom left;
    z-index: -1;
}

@media only screen and (max-width: 1024px) {
    .intro-section {
        height: 100%;
        flex-direction: column;
        align-items: center;
        position: static;
    }

    .intro-section__left {
        padding: 0 2rem;
        position: static;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .intro-section__left h3 {
        padding: 0 2rem;
        margin: 0;
        font-size: 48px;
        line-height: 1.23;
    }

    .intro-section_text {
        padding: 0 2rem;
    }

    .intro-section__right {
        height: auto;
        position: static;
        left: 0;
        width: 100%;
        transform: none;
        transform-origin: unset;
        margin-top: 20px;
    }
    
    .intro-section__right_img {
        height: 500px;
        background-image: url("/telka_s_fotikom.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;
        position: static;
        transform: none;
        transform-origin: unset;
        
    }
    
}


